:root {
  --bg: #2a9d8f;
  --primary: #ffd166;
  --primary--light: rgba(255, 209, 102, 0.9);
  --font-primary: #023047;
  --font-secondary: #264653;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  background-color: var(--bg);
  color: var(--font-primary);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

picture {
  display: block;
  margin: 0;
  padding: 0;
}

.vHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}
.button--primary {
  display: inline-flex;
  padding: 10px 30px;
  background: var(--primary);
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.button--active {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  background: var(--bg);
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  min-height: 50px;
  background: var(--primary);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.header__heading {
  font-size: 20px;
}
.shopping-counter {
}
.shopping-counter__counter {
}
.shopping-counter__counter button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  background: var(--bg);
  border-radius: 5px;
  font-weight: bold;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 100px;
  overflow-x: hidden;
  min-height: 1vh;
  z-index: 100;
}

.cart__close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--bg);
  border-radius: 2px;
  cursor: pointer;
}
.cart__wrapper {
  padding: 50px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--primary);
  border-radius: 2px;
}
.cart__list {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.cart__totalSum {
  text-align: center;
}

.cart__totalSum span {
  font-weight: bold;
  color: var(--font-secondary);
}

.list-cart {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.list-cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-cart__name {
}
.list-cart__price {
  color: var(--font-secondary);
  font-size: 18px;
}

.products {
  padding-top: 20px;
  padding-bottom: 20px;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.products__item {
  padding: 10px;
  width: 100%;
  max-width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.item-card__heading {
  color: var(--font-secondary);
}
.item-card__img {
  height: 300px;
  max-width: 200px;
}
.item-card__img img {
  height: 100%;
  width: 100%;
}
.item-card__price {
  font-size: 16px;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}
.error__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  background-color: var(--bg);
}
.error__heading {
text-align: center;
}
.error__text {
  text-align: center;
}
