:root {
  --bg: #eafdcf;
  --primary: #b1f8f2;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  background-color: var(--bg);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

picture {
  display: block;
  margin: 0;
  padding: 0;
}

.vHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}
.button--primary {
  display: inline-flex;
  padding: 10px 30px;
  background: var(--primary);
  font-weight: bold;
  border-radius: 5px;
}

.products {
  padding-top: 20px;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.products__item {
  padding: 10px;
  width: 100%;
  max-width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.item-card__heading {
}
.item-card__img {
  height: 300px;
  max-width: 200px;
}
.item-card__img img {
  height: 100%;
  width: 100%;
}
.item-card__price {
}
